/*TODO: change username color in header to be consistent across screens*/
/*TODO: clean this file. maybe separate into multiple files*/

/*refers to Back Save Delete and edit buttons*/
.subButtons{
    -fx-background-color: transparent;
}

.subButtons:hover {
    -fx-background-color: #7799c2;
    -fx-background-radius: 7px;
}

.subButtons:pressed {
    -fx-background-color: #306ebd;
    -fx-background-radius: 7px;
}

.mainMenuButtons {
    -fx-background-color: transparent;
}

.mainMenuButtons:hover {
    -fx-font-weight: bold;
    -fx-translate-x: 25px;
}

.mainMenuButtons:pressed {
    -fx-background-color: #306ebd;
    -fx-font-size: 25px;
}

/*Header bar styling*/
.pageHeader {
    -fx-font-family: "Trebuchet MS";
    -fx-background-color: #306ebd;
}

.pageHeaderBtn {
    -fx-background-color: transparent;
    -fx-border-color: #7799c2;
    -fx-border-radius: 7px;
    -fx-text-fill: white;
    -fx-font-family: "Trebuchet MS";
}

.pageHeaderBtn:hover {
    -fx-background-color: #7799c2;
    -fx-text-fill: white;
    -fx-background-radius: 7px;
}

.combo-box {
    -fx-border-radius: 7px;
    -fx-background-color: transparent;
    -fx-border-color: #7799c2;
}

.combo-box:hover {
    -fx-background-radius: 7px;
    -fx-background-color: #7799c2;
}

.combo-box-popup .list-cell {
    -fx-background-color: #c1dfff;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: #142c4b;
    -fx-background-color: #306ebd;
}

.combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: #306ebd;
    -fx-text-fill: #7799c2;
}

/*screen background color*/
.backgroundColor {
    /*-fx-background-color: #e6eef7;*/
    -fx-background-image: url("images/background.png");
}

/*test area styling (excluding background color)*/
.text-area {
    -fx-background-color: #7799c2; /*text area border color*/
    -fx-text-fill: #7799c2;
    -fx-font-size: 14px;
}

/*text area background color styling*/
.text-area *.content {
    -fx-background-color: #dae5f3;
}

.text-field {
    -fx-background-color: #7799c226;
    -fx-border-color: #7799c2;
    -fx-border-radius: 5px;
}

/*scroll bar styling*/
.scroll-bar {
    -fx-background-color: #dae5f3;
}

/*scroll bar arrow styling*/
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    /*    -fx-shape: " ";*/
    -fx-background-color: #7799c2;
}

/*scroll bar thumb styling*/
.scroll-bar .thumb {
    -fx-background-color: #7799c2;
    -fx-background-radius: 0;
}

.radio-button .radio {
    -fx-background-color: transparent;
    -fx-border-color: #284263;
    -fx-border-radius: 50px;
}

.radio-button .dot {
    -fx-mark-highlight-color: #284263;
    -fx-mark-color: #284263;
    -fx-background-insets: 0;
}

.regularButtons {
    -fx-background-color: transparent;
    -fx-border-color: #7799c2;
    -fx-border-radius: 7;
    -fx-font-family: "Trebuchet MS";
}

.regularButtons:hover {
    -fx-background-color: #7799c2;
    -fx-background-radius: 7;
    -fx-text-fill: white;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-background-color: #6ea6ef;
    -fx-border-color: #7799c2;
}

.table-row-cell {
    -fx-background: #dae5f3;
}

.table-row-cell:selected {
    -fx-background-color: #a9cdfd;
}

.chart-plot-background {
    -fx-background-color: #dae5f3;
    -fx-text-fill: #306ebd;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #a9cdfd;
}

.chart-bar {
    -fx-bar-fill: #306ebd;
    -fx-background-radius: 3px 3px 0 0;
}