.button:hover {
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-radius: 90;
     -fx-background-color: black;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    
    }